{% extends 'header.html' %}
{% block content %}
<div class="my-container main-content">
            
    <div class="my-row title">
        <h1>penta</h1>
    </div>

</div>

<div class="my-container game">
    <div class="my-col stack">
        <div class="my-row penta-row done">
            <div class="my-cell item correct">
                t
            </div>
            <div class="my-cell item maybe">
                e                        
            </div>
            <div class="my-cell item wrong">
                s
            </div>
            <div class="my-cell item wrong">
                t                        
            </div>
            <div class="my-cell item wrong">
                e
            </div>
        </div>
        <div class="my-row penta-row active">
            <div class="my-cell item active">
                
            </div>
            <div class="my-cell item">
                                     
            </div>
            <div class="my-cell item">
            
            </div>
            <div class="my-cell item">
                                  
            </div>
            <div class="my-cell item">
                
            </div>
        </div>
        <div class="my-row penta-row">
            <div class="my-cell item">

            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
        </div>
        <div class="my-row penta-row">
            <div class="my-cell item">

            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
        </div>
        <div class="my-row penta-row">
            <div class="my-cell item">

            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
        </div>
        <div class="my-row penta-row">
            <div class="my-cell item">

            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
            <div class="my-cell item">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}